.about-us {
    color: #141414;
    padding: 2rem 0;
    background-color: #ffffff;
}

.about-us h1,
.about-us h2 {
    color: #282828;
    margin-bottom: 1rem;
}

.about-us p {
    color: #343434;
    line-height: 1.6;
}

.about-us img {
    margin-bottom: 1rem;
}
